.footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-top: solid 1px black;
    background: rgba(238, 234, 234, 0.70);
  }