.table__item{
    &--head{
      width: 80%;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #edf2f7 ;
      @media all and (min-width: 320px) {
        flex-direction: column;
      }
    
      @media all and (min-width: 470px) {
        flex-direction: column;
      }
    
      @media all and (min-width: 600px) {
        flex-direction: row;
      }
    
    }
    &--head:hover{
      background-color: #fff;
    }
  }