.body {
  background-image: url("../images/post-it.jpg");
}

.not-active {
  visibility: hidden;
}

.button {
  &__delete {
    &--icon:hover {
      color: black;
    }
  }
}

.not-found{
  background: rgba(238, 234, 234, 0.70);
  text-align: center;
  margin-top: 10px;
  margin-left: 17%;
  margin-right: 17%;
  padding: 10px 0 10px 0;
  font-weight: 600;
}
