.body{
    background-image: url('../images/background1.jpg');
}

.not-active{
    visibility: hidden;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 4%;
    &__title{
        background: rgba(238, 234, 234, 0.653);
        border-radius: 20px;
        padding: 0 20px 0 20px;
    }
}

.main{
    &__form{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        &--input{
            background-color: #fff;
        }
    }
}

.table{
    width: 100%;
    margin-left: 21.5%;
    border-radius: 5px;
    border-top: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: rgba(238, 234, 234, 0.653);
}

.button__delete{
    &--icon:hover{
        color: black;
    }
}

.footer{
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    border-top: solid 1px black;
    background: rgba(238, 234, 234, 0.653)
}